@charset "utf-8";
@import "reset.css";
@import "common.css";

#contact_section {padding: 235px 0 100px;}
#contact_section h2 {text-align: center; font-size: 38px; color: #222; font-weight: normal; padding-bottom: 60px;}
#contact_section .query_form {width: 555px; margin: 0 auto;}
#contact_section .query_form li {padding-bottom: 15px;}
.query_form .query_list label {display: block; font-size: 14px; color: #333; font-weight: bold; padding-bottom: 10px;}
.query_form .query_list select,
.query_form .query_list input[type="text"]
 {width: 100%; height: 54px; background: #f8f9fa; color: #777; border: none; padding: 12px 1em; -webkit-appearance: none}

 .query_form .query_list .kind_box {position: relative;}
 .query_form .query_list .kind_box .kind_arrow {position: absolute; width: 8px; height: 8px; border-bottom: 2px solid #999; border-right: 2px solid #999; right: 20px; top: 45%; z-index: 9; transform: rotate(45deg) translateY(-50%);}





.query_form .query_list textarea {width: 100%; height: 120px; background: #f8f9fa; color: #777; border: none; padding: 12px 1em;}
.query_form .btn {text-align: center; padding-top: 60px;}
.query_form .btn input {padding: 20px 0; width: 48%; border: none; border-radius: 5px; color: #fff; font-weight: bold; font-size: 17px; opacity: 1; transition: all 0.5s;}
.query_form .btn input[type="submit"] {background: #588aff; }
.query_form .btn input[type="reset"] {background: #c3cbd3; }
.query_form .btn input:hover {opacity: 0.8;}

