@charset "utf-8";
@import "reset.css";
@import "common.css";

#contact_section {padding: 235px 0 100px;}
#contact_section h2 {text-align: center; font-size: 38px; color: #222; font-weight: normal; padding-bottom: 60px;}
#contact_section .contact_form {width: 48%; margin: 0 auto;}
#contact_section .contact_form li {padding-bottom: 15px;}
.contact_form .info_list label {display: block; width: 100px; font-size: 14px; color: #333; font-weight: bold; padding-bottom: 10px;}
.contact_form .info_list select,
.contact_form .info_list input[type="text"]
 {width: 100%; height: 54px; background: #f8f9fa; color: #777; border: none; padding: 12px 1em;}
.contact_form .info_list select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #f8f9fa url(../images/select_arrow_down.png) no-repeat 98% center;
}
select::-ms-expand {display: none;} /* 익플10이상 */
.contact_form .info_list textarea {width: 100%; height: 120px; background: #f8f9fa; color: #777; border: none; padding: 12px 1em;}
.contact_form .info_list #file_lbl {width: 186px;}

.contact_form .btn {text-align: center; margin-top: 60px;}
.contact_form .btn button {width: 48%; border: none; border-radius: 5px; color: #fff; font-weight: bold; padding: 20px 0; font-size: 17px; opacity: 1; transition: all 0.5s;}
.contact_form .btn button[type="submit"] {background: #3278ff;}
.contact_form .btn button[type="reset"] {background: #adb5bd;}
.contact_form .btn button:hover {opacity: 0.8;}


/* .contact_form .btn {text-align: center; padding-top: 60px;}
.contact_form .btn input {padding: 20px 0; width: 48%; border: none; border-radius: 5px; color: #fff; font-weight: bold; font-size: 17px; opacity: 1; transition: all 0.5s;}
.contact_form .btn input[type="submit"] {background: #3278ff; }
.contact_form .btn input[type="reset"] {background: #adb5bd; }
.contact_form .btn input:hover {opacity: 0.8;} */

